!!! 5
html
    head
        title faceholdit
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href="css/bootstrap.css", rel='stylesheet')
        link(href="css/bootstrap-responsive.css", rel='stylesheet')

        != css('app')

    body

        header
            section.content
                h1 Facehold.it
                pre
                    <img src='http://faceholdit.jit.su/pic' />                

        block content
        include _analytics.html