!!! 5
html
    head
        title faceholder
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        != css('app')

    body

        header
            section.content
                h1 faceholder
                pre
                    <img src='http://face.joelongstreet.com' />

        block content
        include _analytics.html
