extends layout

block content
    section.info
        p A simple service which provides realistic human placeholder photos. Paste in <span class='code'>&lt;img src='http://face.joelongstreet.com/pic' /&gt;</span> anywhere on your site to generate a placeholder image. To prevent your browser from serving the same image, append a query string to the end of the resource call - <span class='code'>&lt;img src='http://face.joelongstreet.com/pic?q=1' /&gt;"</span>

    #photos
        each photo in photos
            a(target="blank", href="http://facebook.com/#{photo}")
                img(src= "https://s3.amazonaws.com/faceholder/#{photo}.jpg")
